body
{
    background-image:linear-gradient(black,rgb(9, 13, 77),rgb(30, 30, 137),rgb(18, 61, 88), rgb(25, 107, 158),rgb(16, 65, 241),black);
} 
.port
{
    font-size: 30px;
    font-style: italic;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.portfolio
{
    color:rgb(246, 241, 233);
    font-size: 50px;
    font-weight: bolder;
    text-shadow: 4px 4px 4px grey;
}
.menu
{
    display: flex;
    margin-right:40px;
}
.items
{
    background: none;
    margin-right:20px;
    border:none;
    box-shadow: 4px 4px 4px rgb(236, 232, 232);
    color: rgb(246, 240, 240);
    font-weight: bolder;
    font-size: 30px;
    
}

h1
{
    font-size:120px;
    margin-left: 100px;
    color: beige;
}

.paragraph
{
     font-size:25px; 
    font-weight: bold;
    font-style: italic;
    color: rgb(242, 242, 242);
}

.but
{
    margin-top: 60px;
    font-size: 40px;
    margin-left: 300px;
    font-weight: bolder;
    box-shadow: 7px 7px 5px rgb(255, 251, 251);
    border: 2px solid black;
    color: aliceblue;
    background: none;
}

h2
{
    color: white;
    font-size: 40px;
    font-weight: bolder;
    margin-left: 80px;
    margin-top: 80px;
}

h3
{
    color: white;
    font-size: 25px;
    font-weight: bolder;
    margin-top: 50px;
    margin-left: 1000px;

}

.content
{
    color: white;
    margin-left: 1000px;
    margin-top:-20px;
}
